OPENWEATHER_API_KEY="your_openweather_api_key"
OPENWEATHER_CITIES="Sao Paulo,BR;Rio de Janeiro,BR;Curitiba,BR"
OPENWEATHER_ENDPOINTS="weather"
OPENWEATHER_BASE_URL="https://api.openweathermap.org/data/2.5"
OPENWEATHER_UNITS="metric"
OPENWEATHER_LANG="pt_br"
OPENWEATHER_TIMEOUT_SECONDS="30"

AZURE_STORAGE_ACCOUNT_NAME="tropowxdlprod"
AZURE_STORAGE_ACCOUNT_URL="https://tropowxdlprod.blob.core.windows.net"
AZURE_STORAGE_CONTAINER="openweather-data"
AZURE_STORAGE_CONNECTION_STRING=""
AZURE_STORAGE_ACCOUNT_KEY=""
AZURE_STORAGE_SAS_TOKEN=""

LOCAL_OUTPUT_DIR="data"
